<div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <img src="assets/home/testimonials/sri_hari.jpg" height="300px" class="card-img-top" alt="...">
                <a class="youtube" href="https://www.youtube.com/embed/f8B16fVmxhg" target="_blank">
                  <figure class="play_icon">
                              <img src="assets/home/testimonials/play-btn-white.png" style="width:80%" alt="icon">
                          </figure>
                      </a>
                <div class="person_dummy_icon">
                  <i class="bi bi-person-circle"></i>
                </div>
              </div>
              <div class="card-body pt-2">
                <h5 class="card-title">Sri Hari</h5>
                <p class="card-text text-danger">Hitech City</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <img src="assets/home/testimonials/rahul.jpg" height="300px" class="card-img-top" alt="...">
                <a class="youtube" href="https://www.youtube.com/embed/f8B16fVmxhg" target="_blank">
                  <figure class="play_icon">
                              <img src="assets/home/testimonials/play-btn-white.png" style="width:80%" alt="icon">
                          </figure>
                      </a>
                <div class="person_dummy_icon">
                  <i class="bi bi-person-circle"></i>
                </div>
              </div>
              <div class="card-body pt-2">
                <h5 class="card-title">Rahul</h5>
                <p class="card-text text-danger">Visakapatnam</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <div class="" style="background-color: #ba4a49;padding: 10px;height: 300px; border-top-left-radius: 5px;border-top-right-radius: 5px;">
                  <p><i class="fas fa-quote-left text-white"></i></p>
                   <div class="testmonials-main">
                       <p style="color:#FFF;">Amidst my mother's health challenges at 72, including cancer survivor ship and treatment for low sodium levels and neuro problems at KIMS Secunderabad, Soukhya.health emerged as a vital support. Their assistance eased every step of our hospital journey, alleviating the inherent discomfort faced by ordinary citizens. With their guidance and facilitation, navigating the complexities of medical care became manageable, allowing us to focus on her recovery with peace of mind. Soukhya.health's commitment to ensuring comfort and assistance underscores their invaluable role in enhancing healthcare experiences and alleviating the burdens associated with medical treatment, particularly for individuals and families facing significant health concerns.</p>
                  </div>
                  <div class="person_dummy_icon">
                    <i class="bi bi-person-circle"></i>
                  </div>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">Sanjay</h5>
                <p class="card-text text-danger">IDF Hyderabad</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <div class="" style="background-color: #3156a4;padding: 10px;height: 300px; border-top-left-radius: 5px;border-top-right-radius: 5px;">
                  <p><i class="fas fa-quote-left text-white"></i></p>
                   <div class="testmonials-main">
                       <p style="color:#FFF;">My friends son an engineering student, recently faced a severe accident resulting in serious head and body injuries while on Ibrahimpatnam road. Unsure of where to turn, we sought Soukhya.health's aid, swiftly transporting him to KIMS Secunderabad. Upon arrival, Soukhya.health coordinated with emergency doctors, ensuring prompt treatment. He underwent successful plastic surgery and returned home within a week, safe and sound. Throughout the ordeal, Soukhya.health offered unwavering support, providing timely guidance and updates, easing our anxiety. Their swift action and coordination with medical professionals were instrumental in his recovery, for which we remain immensely grateful. Soukhya.health's dedication underscores their commitment to facilitating efficient healthcare services, a lifeline for families navigating challenging medical crises.</p>
                  </div>
                  <div class="person_dummy_icon">
                    <i class="bi bi-person-circle"></i>
                  </div>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">P V Rao</h5>
                <p class="card-text text-danger">DXC Technologies Hyderabad</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    
      <div class="carousel-item">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <img src="assets/home/testimonials/sri_hari.jpg" height="300px" class="card-img-top" alt="...">
                <a class="youtube" href="https://www.youtube.com/embed/f8B16fVmxhg" target="_blank">
                  <figure class="play_icon">
                              <img src="assets/home/testimonials/play-btn-white.png" style="width:80%" alt="icon">
                          </figure>
                      </a>
                <div class="person_dummy_icon">
                  <i class="bi bi-person-circle"></i>
                </div>
              </div>
              <div class="card-body pt-2">
                <h5 class="card-title">Sri Hari</h5>
                <p class="card-text text-danger">Hitech City</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <img src="assets/home/testimonials/rahul.jpg" height="300px" class="card-img-top" alt="...">
                <a class="youtube" href="https://www.youtube.com/embed/f8B16fVmxhg" target="_blank">
                  <figure class="play_icon">
                              <img src="assets/home/testimonials/play-btn-white.png" style="width:80%" alt="icon">
                          </figure>
                      </a>
                <div class="person_dummy_icon">
                  <i class="bi bi-person-circle"></i>
                </div>
              </div>
              <div class="card-body pt-2">
                <h5 class="card-title">Rahul</h5>
                <p class="card-text text-danger">Visakapatnam</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <div class="" style="background-color: #ba4a49;padding: 10px;height: 300px; border-top-left-radius: 5px;border-top-right-radius: 5px;">
                  <p><i class="fas fa-quote-left text-white"></i></p>
                   <div class="testmonials-main">
                       <p style="color:#FFF;">Amidst my mother's health challenges at 72, including cancer survivor ship and treatment for low sodium levels and neuro problems at KIMS Secunderabad, Soukhya.health emerged as a vital support. Their assistance eased every step of our hospital journey, alleviating the inherent discomfort faced by ordinary citizens. With their guidance and facilitation, navigating the complexities of medical care became manageable, allowing us to focus on her recovery with peace of mind. Soukhya.health's commitment to ensuring comfort and assistance underscores their invaluable role in enhancing healthcare experiences and alleviating the burdens associated with medical treatment, particularly for individuals and families facing significant health concerns.</p>
                  </div>
                  <div class="person_dummy_icon">
                    <i class="bi bi-person-circle"></i>
                  </div>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">Sanjay</h5>
                <p class="card-text text-danger">IDF Hyderabad</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="mb-4 position-relative">
                <div class="" style="background-color: #3156a4;padding: 10px;height: 300px; border-top-left-radius: 10px;border-top-right-radius: 10px;">
                  <p><i class="fas fa-quote-left text-white"></i></p>
                   <div class="testmonials-main">
                       <p style="color:#FFF;">My friends son an engineering student, recently faced a severe accident resulting in serious head and body injuries while on Ibrahimpatnam road. Unsure of where to turn, we sought Soukhya.health's aid, swiftly transporting him to KIMS Secunderabad. Upon arrival, Soukhya.health coordinated with emergency doctors, ensuring prompt treatment. He underwent successful plastic surgery and returned home within a week, safe and sound. Throughout the ordeal, Soukhya.health offered unwavering support, providing timely guidance and updates, easing our anxiety. Their swift action and coordination with medical professionals were instrumental in his recovery, for which we remain immensely grateful. Soukhya.health's dedication underscores their commitment to facilitating efficient healthcare services, a lifeline for families navigating challenging medical crises.</p>
                  </div>
                  <div class="person_dummy_icon">
                    <i class="bi bi-person-circle"></i>
                  </div>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">P V Rao</h5>
                <p class="card-text text-danger">DXC Technologies Hyderabad</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <!-- Controls -->
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button> -->
  </div>