<section>
    <div class="pages-hero" style="background-image: url(assets/eldercare/banner-gc-sr.jpg);height:430px !important;">
        <div class="pages-hero-diagonal" style="background-image: none !important;"></div>
        <div class="container">
        <div class="pages-title-center">
        <h1>Elder Care Services
        Geriatric Services</h1>
        <p>Enhancing elderly life quality with customized support and care.</p>
        </div>
        <div class="left-page-nav">
        <ul class="breadcrumb">
        <li><a class="fst" href="home">Home</a></li>
        <li class="current">Elder care</li>
        </ul>
        </div>
        </div>
        </div>
</section>