<footer>
    <div class="container mt-5">
        <!-- Top Footer -->
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-12 col-xl-7">
                    <h3>Ready to experience the difference in quality healthcare?</h3>
                    <p>Take the first step towards your health journey by enquiring now!</p>
                </div>
                <div class="col-lg-12 col-xl-5">
                    <div class="footer-btn">
                        <button class="tp-btn-primary btn btn-default text-white" type="button" data-toggle="modal" data-target="#exampleModal2">Enquire Now</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="footer-line">

        <!-- Center Footer -->
        <div class="center-footer">
            <div class="row">
                <!-- Logo & About -->
                <div class="col-lg-4">
                    <div class="footer-col ft11">
                        <figure>
                            <a href="index.html">
                                <img src="assets/sowkhya-health-white.png" style="width: 150px;" alt="Soukhya Health Logo">
                            </a>
                        </figure>
                        <p>We offer specialized services in elder care and medical tourism, ensuring personalized care and advanced treatments for your healthcare needs.</p>
                       <div class="d-flex gap-4">
                        <a href="https://www.facebook.com/soukhya.health" target="_blank">   <i class="bi bi-facebook fs-5"></i></a>
                        <a href="https://www.instagram.com/soukhya.health/" target="_blank"><i class="bi bi-instagram fs-5"></i></a>
                        <a href="https://www.youtube.com/@Soukhya.Health" target="_blank"><i class="bi bi-youtube fs-5"></i></a>
                       </div>
                    </div>
                </div>

                <!-- Quick Links -->
                <div class="col-lg-2 col-md-3 col-sm-12 p-0 m-0">
                    <div class="footer-col">
                        <h5>Quick Links</h5>
                        <ul class="quick-links d-flex flex-column gap-2 pt-3">
                            <li><a href="index.html"><i class="bi bi-chevron-right me-2"></i>Home</a></li>
                            <li><a href="about-us.html"><i class="bi bi-chevron-right me-2"></i>Who We Are</a></li>
                            <li><a href="elder-care-hyderabad.html"><i class="fbi bi-chevron-right me-2"></i>Elder Care</a></li>
                            <li><a href="medical-tourism.html"><i class="bi bi-chevron-right me-2"></i>Medical Tourism</a></li>
                            <li><a href="testimonials.html"><i class="bi bi-chevron-right me-2"></i>Testimonials</a></li>
                            <li><a href="contact-us.html"><i class="bi bi-chevron-right me-2"></i>Contact</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Extra Links -->
                <div class="col-lg-2 col-md-4 col-sm-12 pt-5 m-0 p-0">
                    <div class="footer-col position-relative">
                        <ul class="quick-links d-flex flex-column gap-2 position-absolute left_31">
                            <li><a href="blog.html"><i class="bi bi-chevron-right me-2"></i>Blogs</a></li>
                            <li><a href="download.html"><i class="bi bi-chevron-right me-2"></i>Downloads</a></li>
                            <li><a href="medical-tourism-faq.html"><i class="bi bi-chevron-right me-2"></i>Medical Tourism FAQs</a></li>
                            <li><a href="elder-care-faq.html"><i class="bi bi-chevron-right me-2"></i>Elder Care FAQs</a></li>
                            <li><a href="gctermsandcondition.html"><i class="bi bi-chevron-right me-2"></i>Elder Care T&amp;C</a></li>
                            <li><a href="mttermandcondition.html"><i class="bi bi-chevron-right me-2"></i>Medical Tourism T&amp;C</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <div class="footer-col ft-last1">
                        <h5>Get in Touch</h5>
                        <ul class="footer-contact d-flex flex-column gap-2 pt-3">
                            <li class="phone"><a href="tel:+918121113711">+91-812-111-3711</a></li>
                            <li>
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="fa fa-envelope"></i></div>
                                    <div class="flex-grow-1 ms-3">
                                        <a href="mailto:support@soukhya.health">support@soukhya.health</a>, 
                                        <a href="mailto:soukhya.health686@gmail.com">soukhya.health686@gmail.com</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="fas fa-map-pin"></i></div>
                                    <div class="flex-grow-1 ms-3">
                                        <a href="https://www.google.com/maps/place/Saleem+Nagar+Colony,+Hyderabad" target="_blank" style="text-decoration:none; color:#fff; font-size:15px;">
                                            16-11-17/C/1/2, Saleem Nagar Colony,<br>
                                            Malakpet, Hyderabad - 500036
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="footer-line">

        <!-- Bottom Footer -->
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright text-center">
                        <p>© 2024 <strong>Soukhya.Health</strong> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

 <!-- whatsapp start -->
 <div class="floating_btn1">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=918121113711&text=Hi+Soukhya.Health,+I'm+looking+for+more+information+about+your+hospitality+services.">
      <div class="contact_icon">
         <i class="bi bi-whatsapp"></i>
      </div>
    </a>
  </div>
  
<!-- share -->
      <div class="floating_btn">
     <a (click)="onShare()">
           <div class="contact_iconsh">
        <i class="bi bi-share" style="font-size:22px;width: 40%;"></i>
        </div>
      </a>
  </div>

