

 <div class="container-fluid">

  <!-- Cards -->
  <div class="row">
    <div class="col-md-3" *ngFor="let card of [
      {title: 'Geriatric Enquires', value: dashboardData.geriatricEnquiries, icon:'fa-user'},
      {title: 'Medical Tourism Enquires', value: dashboardData.medicalEnquiries, icon:'fa-hospital-o'},
      {title: 'Total Visitors', value: dashboardData.totalVisitors, icon:'fa-eye'},
      {title: 'Revenue', value: dashboardData.revenue | currency:'INR'},
      {title: 'Total Patients', value: dashboardData.totalPatients, icon:'fa-users'},
      {title: 'General Enquiries', value: dashboardData.generalEnquiries, icon:'fa-comments'}
    ]">
      <div class="card p-3 shadow-sm mb-3">
        <i class="fa {{card.icon}} fa-2x"></i>
        <h6>{{card.title}}</h6>
        <h3>{{card.value}}</h3>
      </div>
    </div>
  </div>

  <!-- Total Enquiries Chart -->
  <div class="card mt-4 p-3">
    <h5>Total Enquiries</h5>
    <canvas id="enquiriesChart"></canvas>
  </div>

  <!-- Google Analytics -->
  <h3 class="mt-4">Google Analytics Dashboard</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="card p-3">
        <h6>Active Users in the Last 7 Days</h6>
        <canvas id="activeUsersChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h6>Screen Page Views in the Last 7 Days</h6>
        <canvas id="pageViewsChart"></canvas>
      </div>
    </div>
  </div>
</div>


